##-----------------------------
##settings for createEsetList.R
##-----------------------------

#rescale each gene to z-score?
rescale <- FALSE

#Keep only genes common to all platforms?
keep.common.only <- FALSE

#only keep studies with at least this many samples
min.sample.size <- 1

#only keep studies with at least this many events (deaths)
min.number.of.events <- 0

#quantile of variance ranks above which to keep high-variance genes (ie 0.8 filters 80% of genes).
#0 means no filtering of genes
quantile.cutoff <- 0

#patient metadata which must not be missing
meta.required <- c()

#if strict.checking is TRUE, patients missing any of the above
#metadata will be remove.  If FALSE, these patients are kept.
strict.checking <- FALSE

